.banner {
  margin-top: 30px;

  &-left {
    overflow: hidden;
    .col(66.667%);
    position: relative;
    .banner-inner {
      img {
        width: 100%
      }
      .banner-left-content {
        position: absolute;
        // width: 100%;
        top: 55.5%;
        right: 109px;
        .text-ads {
          font-family: "Pacifico";
          font-size: 30px;
        }
        .ads-btn-1 {
          .shop-now-btn;
          position: unset;
          margin-left: auto;
          width: fit-content;
          display: block;
        }
      }
    }
    
  }
  &-inner img {
    .extra4px-remove;
  }

  &-right {
    .col(33.333%);
    .banner-col {
      margin: -15px 0;
    }
    &-item {
      overflow: hidden;
      position: relative;
      padding: 15px 0;

      .text-content {
        text-transform: uppercase;
        position: absolute;
        top: 38%;
        left: 11%;

        .text-item {
          .upper-content {
            font-size: 16px;
            font-weight: 400;
          }
          .lower-content {
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
      .ads-btn-2 {
        .shop-now-btn;
        margin-top: 17px;
        display: block;
        width: fit-content;
        position: unset;
      }
      .upper-img {
        top: 44%;
        left: 15%;
      }
    }
    &-item img {
      .extra4px-remove;
    }
  }
  // .ads-btn-1, .ads-btn-2 {
  //     font-size: 14px;
  //     background-color: #8262b5;
  //     padding: 11px 17px;
  //     position: absolute;
  // }
}

.top-selling {
  margin-bottom: 74px;
  .title {
    .brand-name {
      margin-top: 79px;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 700;
      color: #8262b5;
      text-transform: uppercase;
      letter-spacing: 0.5em;
    }
    .feature-item {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    .hl {
      width: 50px;
      height: 1px;
      margin-top: 22px;
      margin-bottom: 16px;
      background-color: #8262b5;
    }
  }
  .product-item {
    margin-top: 32px;
    .col(25%);
    
    .image {
      position: relative;
      line-height: 0;
      .btn {
        position: absolute;
        bottom: 5px;
        left: 5px;
        margin-bottom: 19px;
      } 
      a {
        .add-cart-btn;
        &:hover {
          color: #8262b5;
        }
      }
    }
  }
  .item-content {
    .item-name {
        margin-top: 18px;
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 400;
    }
    .item-rating {
      .score {
        display: block;
        font-size: 12px;
        position: relative;
        overflow: hidden;

        &-wrap {
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: 15px;
          .stars-active {
            color: #f8ba04;
            position: relative;
            z-index: 10;
            display: inline-block;
            overflow: hidden;
          }
          .stars-inactive {
            color: grey;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      
    }
    .item-price {
        margin: 3px 0;
        .old-price {
          text-decoration: line-through;
          color: #a0a0a0;
          font-family: "OpenSans";
          font-size: 16px;
          font-weight: 400;
        }
        .new-price {
            color: #8262b5;
            font-family: 'OpenSans';
            font-size: 16px;
            font-weight: 700;
        }
      }
  }
}


